body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: rgb(47, 45, 54);
    color: white;
    text-align: center;
  }

  a {
    color: #00B7FF;
  }


